streamlit>=1.36
requests>=2.32
python-dotenv>=1.0
pandas>=2.2
openpyxl>=3.1
python-docx>=1.1
reportlab>=4.2
pypdf>=4.2
libsql>=0.1.0
pyTelegramBotAPI
psutil
opencv-python-headless
devgagantools
aiofiles
aiohttp
pytz
Pillow
flask
mutagen
yt-dlp
requests
cryptography
